{
    "properties":{
        "libDir":"./lib",
        "pluginsDir":"./plugins"
    },
    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|time)\\b.*",
            "expectedInputs":[]
        },
		
		"klem.clamshellcli.clamit.ClamITController":{
            "enabled":"true",
            "inputPattern":"\\s*(b64|context|hostinfo|httpget|ip2cidr|jvminfo|md5|mockftp|mockhttp|mysqlcheck|netinfo|ping|proxyconfig|readme|iprange|scanports)\\b.*",
            "expectedInputs":[]
        }
    }
}
