{
    "properties":{
        "libDir":"./lib",
        "pluginsDir":"./plugins"
    },
    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "enabled":"false",
            "inputPattern":"\\s*(exit|help|time)\\b.*",
            "expectedInputs":[]
        },
		
		"klem.clamshellcli.clamit.ClamITController":{
            "enabled":"true",
            "inputPattern":"\\s*(b64|context|credits|hostinfo|httpget|ip2cidr|jvminfo|md5|ftp|http|mysqlcheck|netinfo|ping|proxy|readme|iprange|unmd5|tomcat)\\r\\n\\b.*",
            "expectedInputs":[]
        }
    }
}
